{{ define "main" }}
  {{ partial "page-header" . }}

  <!-- Display page content if it exists -->
  {{ if .Content }}
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}

  <!-- Display child pages if they exist -->
  {{ if .RegularPages }}
  <section class="section">
    <div class="container">
      <ul class="text-center">
        {{ range .RegularPages }}
          <li class="m-3">
            <a
              href="{{ .Permalink }}"
              class="text-text-dark dark:text-darkmode-text-dark block text-xl">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ end }}
{{ end }}